//Fonts
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

// background
%bganimate {
  background: linear-gradient(254deg,#efffdf,#ffe8d8,#fff0bf,#fffdb7);
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
    @keyframes gradient-animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}
@mixin bganimate {
  @extend %bganimate;
}

// mixins notes xilofon
%note{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70px;
  padding: 20px 0px;
  border-radius: 10px;
  font-family: 'Signika';
  font-weight: normal;
  z-index: 9;
  &::before {
    content: "♪";
    display: none;
    position: absolute;
    top: -5vh;
    font-size: 2vw;
    border-radius: 50%;
    
  }
  &:active {
    filter: brightness(95%) !important;
    &::before {display:block;}
  }
  &:active span {
    filter:brightness(130%) !important;
  }
}
@mixin note($bg,$shadow,$height) {
  @extend %note;
  background: $bg;
  box-shadow: $shadow;
  height: $height;
}

%notespan {
  font-weight: bold;
  font-size: 1.3rem;
}
@mixin notespan($color) {
  @extend %notespan;
  color: $color;
}

  * {
  cursor: none;
  user-select: none;

  & body {
    max-height: 100vh;
    overflow: hidden;
    @include bganimate;

    & #container {
      overflow: hidden;
      max-height: 100vh;
      
      // Animate background
      & .animatenotes-1 {
        display: block;
        position: absolute;
        top: 5vh;
        width: 100vw;
        border: 0px solid #000;
        color: #ffd271;
        opacity: 0.5;
      }
      & .animatenotes-2 {
        display: block;
        position: absolute;
        top: 45vh;
        left: 20vw;
        width: 60vw;
        border: 0px solid #000;
        color: #ffd271;
        opacity: 0.5;
      }
      & .animatenotes-3 {
        display: block;
        position: absolute;
        top: 75vh;
        width: 100vw;
        border: 0px solid #000;
        color: #ffd271;
        opacity: 0.5;
      }
      & .noot-1, .noot-2, .noot-3, .noot-4 {
        position: absolute;
        animation: notes 2s infinite linear;
        font-size: 35px;
        opacity: 0;
      }
      & .noot-1 {
        top: 60px;
        left: 0;
        animation-delay: 0.5s;
        
      }
      & .noot-2 {
        top: 30px;
        left: 30%;
        animation-delay: 1s;
      }
      & .noot-3 {
        top: 90px;
        left: 60%;
        animation-delay: 1.5s;
      }
      & .noot-4 {
        top: 40px;
        left: 90%;
        animation-delay: 2s;
      }
      @keyframes notes {
        0% {
          transform: scale(1) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
          transform: scale(1.5) translate(50%, -50%);
        }
        80% {
          opacity: 0;
          transform: scale(1.5) translate(100%, -100%);
        }
        100% {
          transform: scale(1.5) translate(100%, -100%);
          opacity: 0;
        }
      }
      
     
    }

  }
  

  

  & #landscape {
    display: none;
    @include bganimate;
  }

 // Baqueta
  & .space {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    & .baqueta {
      position: absolute;
      left: var(--mouse-x);
      top: var(--mouse-y);
      z-index: 99;
    }
} 



  // Xilofono
  & .layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    height: 95vh;
    font-size: 2.8vw;

    & .head {
      width: 50vw;
      padding-bottom: 20px;
      font-family: 'Yusei Magic', sans-serif;
      font-size: 2vw;
      text-align: center;
      & h1 {
        margin: 0;
        padding: 10px 0;
        background: -webkit-linear-gradient(rgb(214, 14, 240), rgb(255, 185, 9));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5vw;
      }
       & p {
         margin-top: 3px;
         font-size: 1.8vw;
       }


    }

    & #xilofono {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 700px;
      height: 300px;
      margin: 0 auto;

      // Tornillo
      & .screw {
        position: relative;
        width: 16px;
        height: 16px;
        background-color: #c6c3ba;
        border-radius: 50%;
        box-shadow: 1px 1px #999999, 1px 1px #999999;
        &:after {
          content: "|";
          position: absolute;
          top: 0;
          left: 50%;
          color: #585757;
          font-size: 12px;
          transform: translateX(-52%) rotate(33deg);
        }
      }

      // DO
      & .note:nth-child(1) {
        @include note(hsl(0, 79%, 57%),3px 3px 0px 2px hsl(0, 79%, 35%),270px);
        & span {
          @include notespan(hsl(0, 79%, 35%))
        }
        &::before {
          color: hsl(0, 79%, 57%);
        }
        
      }
      // RE
      & .note:nth-child(2) {
        @include note(hsl(39, 79%, 57%),3px 3px 0px 2px hsl(39, 79%, 35%),250px);
        & span {
          @include notespan(hsl(39, 79%, 35%))
        }
        &::before {
          color: hsl(39, 79%, 57%);
        }
      }
      // MI
      & .note:nth-child(3) {
        @include note(hsl(85, 79%, 57%),3px 3px 0px 2px hsl(85, 79%, 35%),230px);
        & span {
          @include notespan(hsl(85, 79%, 35%))
        }
        &::before {
          color: hsl(85, 79%, 57%);
        }
      }
      // FA
      & .note:nth-child(4) {
        @include note(hsl(214, 79%, 57%),3px 3px 0px 2px hsl(214, 79%, 35%),210px);
        & span {
          @include notespan(hsl(214, 79%, 35%))
        }
        &::before {
          color: hsl(214, 79%, 57%);
        }
      }
      // SOL
      & .note:nth-child(5) {
        @include note(hsl(273, 79%, 57%),3px 3px 0px 2px hsl(273, 79%, 35%),190px);
        & span {
          @include notespan(hsl(273, 79%, 35%))
        }
        &::before {
          color: hsl(273, 79%, 57%);
        }
      }
      // LA
      & .note:nth-child(6) {
        @include note(hsl(159, 79%, 57%),3px 3px 0px 2px hsl(159, 79%, 35%),170px);
        & span {
          @include notespan(hsl(159, 79%, 35%))
        }
        &::before {
          color: hsl(159, 79%, 57%);
        }
      }
      // SI
      & .note:nth-child(7) {
        @include note(hsl(26, 82%, 56%),3px 3px 0px 2px hsl(26, 82%, 35%),150px);
        & span {
          @include notespan(hsl(26, 82%, 35%))
        }
        &::before {
          color: hsl(26, 82%, 56%);
        }
      }
      // DO
      & .note:nth-child(8) {
        @include note(hsl(177, 82%, 56%),3px 3px 0px 2px hsl(177, 82%, 35%),130px);
        & span {
          @include notespan(hsl(177, 82%, 35%))
        }
        &::before {
          color: hsl(177, 82%, 56%);
        }
        
      }


      // estructura palos xilófono
      & .palos {
        position: absolute;
        left: -35px;
        width: 775px;
        height: 20px;
        background: #ba793d;
        border-radius: 50px;
        z-index: 0;
        }
        & .palo1 {
          top: 85px;
          transform: rotate(3deg);
        }
        & .palo2 {
          top: 200px;
          transform: rotate(357deg);
        }
    }
  }
}
  

@media only screen and (min-width: 1400px) {
  .head {
    width: 40vw !important;
  }
  #xilofono { 
    width: 850px !important;

    & .palos {
      width: 920px !important;
    }

    & .note {
      width: 85px !important;
    }
  }
}

@media only screen and (max-width: 850px) {
  * {
    cursor: pointer;
  }
  .space {
    & .baqueta {display: none;}
  }
  
  #xilofono {
    transform:scale(0.8);
    & .palos {
      width: 750px;
      left: -100px;
    }
    & .palo1 {
      top: 98px;
      transform: rotate(4deg) scale(0.8);;
    }
    & .palo2 {
      top: 190px;
      transform: rotate(356deg) scale(0.8);;
    }
  }
}  
  
@media only screen and (max-width: 680px) {
  * {
    cursor: pointer;
  }
  body {margin: 0;}
  .landscape,.layout {display: none;}

  #landscape {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background: none;
    & p {
      width: 200px;
      text-align: center;
      font-family: 'Yusei Magic', sans-serif;
      font-size: 8vw;
      & img {
        max-width: 100%;
        margin-bottom: 40%;
        -webkit-animation: rotation 2s infinite linear;
      }
      @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(-50deg);
        }
    }
    }
  }
  .layout {
    justify-content: center;
    height: 100vh;

    & #xilofono {
      display: none;
    }
  }
}

@media only screen and (max-height: 580px) {
  * {
    cursor: pointer;
  }
  body {
    overflow: inherit;
    & #container {
      height: 140vh;
      max-height: initial;
      overflow: inherit;

      & .note::before {
        top: -6vh !important;
      }
    }

    .space {
      & .baqueta {display: none;}
    }
  }
  
}